    <!--     <div class="projectsSection" id="projects">
        <div class="leftSideProjects">
            <div class="projectHeader sectionHeader">PROJECTS</div>
            <div class="projectWindow"></div>
            <div class="projectNavigation">
                <div class="leftArrow"></div>
                <div class="projectTitle">'Affluentsy'
                    <br>IY Final Project</div>
                <div class="rightArrow"></div>
            </div>
            <div class="projectButtons">
                <div class="liveButton">Live Site</div>
                <div class="githubProjectButton">Github</div>
            </div>
        </div>
        <div class="rightSideProjects">
            <div class="folderTop"></div>
            <div class="folderMain">
                <div class="folderRowLg">
                    <div class="projFolderButton lgFolderButton"></div>
                    <div class="projFolderButton lgFolderButton"></div>
                </div>
                <div class="folderRowSm">
                    <div class="projFolderButton smFolderButton"></div>
                    <div class="projFolderButton smFolderButton"></div>
                    <div class="projFolderButton smFolderButton"></div>
                    <div class="projFolderButton smFolderButton"></div>
                    <div class="projFolderButton smFolderButton"></div>
                    <div class="projFolderButton smFolderButton"></div>
                </div>
            </div>
        </div>
    </div> -->
    .projectsSection {
    display: block;
    width: 100%;
    background: url('../assets/images/bgProjects.jpg');
    background-size: cover;
    background-position: 75% 0%;
    height: 100vh;
    padding: 0 15px;
}
.leftSideProjects {
    display: inline-block;
    width: 100%;
    padding-top: 100px;
}
.projectHeader {
    display: block;
    width: 100%;
    font-size: 2rem;
    font-weight: 700;
    font-family: "Ubuntu";
    color: var(--ltTan);
    padding: 0.5em;
    text-align: center;
    text-shadow: var(--textShadowDefault);
}
.projectWindow {
    display: block;
    width: 100%;
    height: 43vh;
    border: 3px solid var(--ltTan);
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5), inset 1px 1px 10px rgba(0, 0, 0, 0.5);
    background: url('../assets/images/projects/affluentsy.jpg');
    background-size: cover;
    background-position: center;
}
.projectNavigation {
    display: block;
    width: 88%;
    margin: 0 auto;
    border: 2px solid var(--dkGray);
    border-radius: 15px;
    margin-top: 3.5vh;
    font-size: 1.5rem;
    text-align: center;
    padding: 5% 0;
    background-color: rgba(1, 1, 1, 0.3)
}
.leftArrow, .rightArrow {
    display: inline-block;
    background: url('../assets/images/arrow.png');
    background-size: cover;
    width: 37px;
    height: 42px;
}
.rightArrow {
    transform: rotate(180deg);
}
.projectTitle {
    display: inline-block;
    width: 70%;
    line-height: 1;
    font-weight: 700;
    color: var(--dkGray);
}
.projectButtons {
    display: block;
    width: 97%;
    margin: 0 auto;
    text-align: justify;
}
.liveButton, .githubProjectButton {
    display: inline-block;
    width: 40%;
    font-size: 1.7rem;
    font-weight: 700;
    text-align: center;
    color: var(--dkGray);
    background-color: var(--mdTan);
    border-radius: 15px;
    border: 2px solid var(--ltTan);
    margin-top: 2vh;
}
.projectButtons:after {
    content: '';
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0;
}
.rightSideProjects {
    display: inline-block;
    width: 37%;
    padding-top: 100px;
    margin-left: 9vw;
}
.folderTop {
    display: block;
    background: url('../assets/images/folderTopProjects.png');
    background-size: cover;
    height: 38px;
    width: 253px;
    margin-left: 10px;
}
.folderMain {
    display: block;
    background-color: var(--mdTan);
    width: 100%;
    height: 80vh;
    border-radius: 15px;
}
.folderRowLg {
    display: block;
    width: 100%;
    height: 40%;
}
.folderRowSm {
    display: block;
    width: 100%;
    height: 20%;
}
.projFolderButton {
    display: inline-block;
    background: url('../assets/images/projects/affluentsy.jpg');
    background-size: cover;
    border-radius: 10px;
    padding: 3%;
}
.lgFolderButton {
    width: 45%;
}
.smFolderButton {
    width: 28%;
}
@media (min-width: 650px) {
    .leftSideProjects {
        width: 52%;
        padding-left: 4vw;
    }
    .projectWindow {
        height: 55vh;
        border: 5px solid var(--ltTan);
    }
    .projectHeader {
        font-size: 2.9rem;
        padding: 1rem;
    }
    .projectNavigation {
        display: none;
    }
    .liveButton, .githubProjectButton {
        width: 40%;
        font-size: 2rem;
        line-height: 1.5;
        border: 5px solid rgb(230, 213, 193);
        margin-top: 3.5vh;
    }
}